<div class="container mx-auto">
<div class="header w-full flex flex-col gap-2">
    <h1 class="font-bold text-2xl">Braintree Customer Search</h1>
    <a href="https://developer.paypal.com/braintree/docs/reference/request/customer/search/node" target="_blank"
        class="underline text-blue-600 hover:text-blue-800">Documentation</a>
</div>

<div id="customerResult">
    <pre id="customerInfo" class="hidden"></pre>
    <!-- Affichez d'autres informations du client ici -->
</div>

<div id="accordion" class="p-5">
    <!-- Filtrer par prénom et nom -->
    <div class="relative flex flex-col min-w-0 rounded break-words border bg-white border-1 border-gray-300">
        <!-- Bouton pour afficher ou masquer le panneau de filtre -->
        <div class="py-3 px-6 mb-0 bg-gray-200 border-b-1 border-gray-300 text-gray-900" id="headingName">
            <h5 class="mb-0">
                <button
                    class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap rounded py-1 px-3 leading-normal no-underline font-normal text-blue-700 bg-transparent"
                    data-toggle="collapse" data-target="#collapseName" aria-expanded="true"
                    aria-controls="collapseName" onclick="toggleCollapse('collapseName')">
                    Search by First Name & Last Name
                </button>
            </h5>
        </div>
        <!-- Panneau de filtre pour le prénom et le nom -->
        <div id="collapseName" class="hidden" aria-labelledby="headingName" data-parent="#accordion">
            <div class="flex-auto p-6">
                First Name: <input id="inputFirstName"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5"
                    type="text">
                Last Name: <input id="inputLastName"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5"
                    type="text">
                <br><br>
                <input type="button" value="Search Customers"
                    class="bg-blue-500 hover-bg-blue-700 text-white font-bold py-2 px-4 rounded"
                    data-search-type="name" onclick="searchCustomers(this)">
            </div>
        </div>
    </div>
    <div class="relative flex flex-col min-w-0 rounded break-words border bg-white border-1 border-gray-300">
        <div class="py-3 px-6 mb-0 bg-gray-200 border-b-1 border-gray-300 text-gray-900" id="headingEmail">
            <h5 class="mb-0">
                <button
                    class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap rounded py-1 px-3 leading-normal no-underline font-normal text-blue-700 bg-transparent"
                    data-toggle="collapse" data-target="#collapseCustomers" aria-expanded="true"
                    aria-controls="collapseCustomers" onclick="toggleCollapse('collapseCustomers')">
                    Email
                </button>
            </h5>
        </div>
        <div id="collapseCustomers" class="hidden" aria-labelledby="headingEmail" data-parent="#accordion">
            <div class="flex-auto p-6">
                <div class="mb-4">
                    <label for="customerEmail">Email:</label>
                    <input id="customerEmail"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5"
                        type="text">
                </div>
                <input type="button" value="Search Customers"
                    class="bg-blue-500 hover-bg-blue-700 text-white font-bold py-2 px-4 rounded"
                    data-search-type="email" onclick="searchCustomers(this)">
            </div>
        </div>
    </div>
    <!-- Filtrer par createdAt -->
    <div class="relative flex flex-col min-w-0 rounded break-words border bg-white border-1 border-gray-300">
        <div class="py-3 px-6 mb-0 bg-gray-200 border-b-1 border-gray-300 text-gray-900" id="headingCreatedAt">
            <h5 class="mb-0">
                <button
                    class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap rounded py-1 px-3 leading-normal no-underline font-normal text-blue-700 bg-transparent"
                    data-toggle="collapse" data-target="#collapseCreatedAt" aria-expanded="true"
                    aria-controls="collapseCreatedAt" onclick="toggleCollapse('collapseCreatedAt')">
                    Created At
                </button>
            </h5>
        </div>
        <div id="collapseCreatedAt" class="hidden" aria-labelledby="headingCreatedAt" data-parent="#accordion">
            <div class="flex-auto p-6">
                <div class="mb-4">
                    <label for="createdAtStartDate">Start Date:</label>
                    <input id="createdAtStartDate"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5"
                        type="datetime-local">
                </div>
                <div class="mb-4">
                    <label for="createdAtEndDate">End Date:</label>
                    <input id="createdAtEndDate"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5"
                        type="datetime-local">
                </div>
                <input type="button" value="Search Customers"
                    class="bg-blue-500 hover-bg-blue-700 text-white font-bold py-2 px-4 rounded"
                    data-search-type="createdAt" onclick="searchCustomers(this)">
            </div>
        </div>
    </div>
    <div class="relative flex flex-col min-w-0 rounded break-words border bg-white border-1 border-gray-300">
        <div class="py-3 px-6 mb-0 bg-gray-200 border-b-1 border-gray-300 text-gray-900" id="headingPMToken">
            <h5 class="mb-0">
                <button
                    class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap rounded py-1 px-3 leading-normal no-underline font-normal text-blue-700 bg-transparent"
                    data-toggle="collapse" data-target="#collapsePMToken" aria-expanded="true"
                    aria-controls="collapsePMToken" onclick="toggleCollapse('collapsePMToken')">
                    PM Token
                </button>
            </h5>
        </div>
        <div id="collapsePMToken" class="hidden" aria-labelledby="headingPMToken" data-parent="#accordion">
            <div class="flex-auto p-6">
                <div class="mb-4">
                    <label for="PMToken">PM Token:</label>
                    <input id="PMToken"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5"
                        type="text">
                </div>
                <input type="button" value="Search Customers"
                    class="bg-blue-500 hover-bg-blue-700 text-white font-bold py-2 px-4 rounded"
                    data-search-type="PMToken" onclick="searchCustomers(this)">
            </div>
        </div>
    </div>
</div>
<div class="flex flex-wrap">
    <div class="result w-full overflow-x-auto" hidden>
        <br><br><br>
        <p id="nbRowP" hidden>Number of rows : <span id="nbRowS" hidden></span></p>
        <table class="min-w-full text-left text-sm font-light mb-4">
            <thead class="border-b font-medium dark:border-neutral-500 text-center">
                <tr>
                    <th class="px-6 py-4">ID</th>
                    <th class="px-6 py-4">All details</th>
                    <th class="px-6 py-4">First Name</th>
                    <th class="px-6 py-4">Last Name</th>
                    <th class="px-6 py-4">Phone</th>
                    <th class="px-6 py-4">Email</th>
                    <th class="px-6 py-4">Created At</th>
                    <th class="px-6 py-4">Link</th>
                </tr>
            </thead>
            <tbody class="tableContent text-center">
                <!-- content added via XHR result -->
            </tbody>
        </table>
    </div>
</div>

<script>
    const mid = '<%= MID %>'
</script>

<script src="customer.js"></script>