<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome To Braintree</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="commonFront.js"></script>
    <style>
        .amountsettlement_declined{
            color:red;
        }
    </style>
</head>
<div class="container mx-auto">
    <div id="loading" hidden class="top-0 left-0 w-full h-full items-center justify-center z-50">
        <div class="fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-10">
            <p class="text-center text-gray-700 text-xl font-bold mb-2">LOADING...</p>
            <div class="loader mx-auto"></div>
        </div>
    </div>
    <ul
        class="m-4 text-sm font-medium text-center text-gray-500 rounded-lg shadow sm:flex">
        <li class="w-full">
            <a href="./transaction"
                class="inline-block w-full p-4 bg-white border-r border-gray-200 hover:text-gray-700 hover:bg-gray-200">Search Transaction</a>
        </li>
        <li class="w-full">
            <a href="./customer"
                class="inline-block w-full p-4 bg-white border-r border-gray-200 hover:text-gray-700 hover:bg-gray-200">Search Customer</a>
        </li>
        <li class="w-full">
            <a href="./dispute"
                class="inline-block w-full p-4 bg-white border-r border-gray-200 hover:text-gray-700 hover:bg-gray-200">Search Dispute</a>
        </li>
    </ul>
    <%- include(body) %>
</div>

</html>